@charset "UTF-8";
/*
em HTML é id == em CSS é #
em HTML é class == em CSS é .
*/
/* 
a diferença entre class e id, ou em CSS # ou . é: 
no id o seletor personaliza um elemento por exemplo apenas um h1 vai ter aquelke tipo
de configuração
já o class é usado para persolizar mais de um elemento
*/

body{
    background-image: linear-gradient(to bottom, #8fc1b5b9, #589A8Db9, #007566b9);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
   color: #265C4B; 
}
h1#principal{
    text-align: center;
    color: #fff;
    background-color: #265C4Bbc;

     
}

h2{
    color: #146551;
}

.basico{
    color: rgb(0, 153, 99);
}
.intermediario{
    color: rgb(143, 153, 0);
}
.avancado{
    color: rgb(153, 0, 0);
}

